@using BlazorHiprint.DesignPaper.Components
@using BlazorHiprint.DesignPaper.Data
@inherits MElementBase<MRectangleTmplt>

<div style="@Style">
    <svg width="@(Data?.Width)px" height="@(Data?.Height)px">
        <rect width="100%" height="100%" 
              fill="@Data?.FillColor" 
              stroke="@Data?.StrokeColor" 
              stroke-width="@(Data?.StrokeWidth)px"/>
    </svg>
</div>

@code {
    string Style => $@"position: absolute;
            top: {Data?.Top}px;
            left: {Data?.Left}px;";
}
