@using System.Diagnostics.CodeAnalysis
@using BlazorHiPrint.Client.Data
@using BootstrapBlazor.Components
<div class="hiprint-printElement design" style="@Style" draggable="true" 
@onclick="@OnClick" @onclick:stopPropagation="true" 
tabindex="0"
@ondragstart="@HandleDragStart" @onkeydown="PrintPaperOnKeyPressed">

    @if (selectedType != null)
    {
        <DynamicComponent Type="selectedType" Parameters="parameter" />

    }else
    {

        <div>NULL</div>
    }
    @* 这里的 selected 似乎没有什么用处 *@
    <div  class="resize-panel selected" 
    style="width: 100%; height: 100%; top: 0px; left: 0px; position: absolute;
        background-color: rgba(0, 0, 0, 0.5); cursor: move; display: @Display;">

        <div class="del-btn" @onclick="OnDelBtnClick" >✕</div>

     </div>
</div>
@code {
    [NotNull]
    [Parameter]
    public MTmpltBase? Temp { get; set; }
    [Parameter]
    public Action<MTmpltBase>? OnClicked { get; set; }
    [Parameter]
    public Action<MTmpltBase>? OnDeletedEventHandler { get; set; }
    Dictionary<string, object>? parameter;

    string Display { get { return Temp.IsSelected ? "block" : "none"; } }
    protected override async Task OnParametersSetAsync()
    {
        parameter = new Dictionary<string, object>()
        {
            { "Value", Temp }
        };
        Temp.FieldHasChanged =  (_, _) => StateHasChanged();
        selectedType = PrintElementsFactory.GetPrintElementType(Temp);
        await base.OnParametersSetAsync();
    }
    string Style
    {
        get
        {

            //直接使用字符串连接
            return $@"  position: absolute;
            top: {Temp.Top}px;
            left: {Temp.Left}px;";
        }

    }

    private Type? selectedType = null;


    private void OnClick()
    {
        Temp.IsSelected = true;   
        if(OnClicked != null)
        {
            OnClicked(Temp);
        }
    }
    void OnDelBtnClick()
    {
        //   MyPrintItems.RemoveAll(x => x.IsSelected);
        if(OnDeletedEventHandler !=null)
        {
            OnDeletedEventHandler(Temp);
        }
    }
    void PrintPaperOnKeyPressed(KeyboardEventArgs args)
    {
        if (args.Key == "Delete")
        {
            //   MyPrintItems.RemoveAll(x => x.IsSelected);
            if(OnDeletedEventHandler !=null)
            {
                OnDeletedEventHandler(Temp);
            }
        }
    }
    private void HandleDragStart(DragEventArgs args)
    {
        args.DataTransfer.DropEffect = "move";
        args.DataTransfer.EffectAllowed = "move";
        if (OnClicked != null)
        {
            OnClicked(Temp);
        }
    }

}
