@page "/"
@* @rendermode @(new InteractiveServerRenderMode(prerender: false)) *@
@rendermode InteractiveServer
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
