@using BlazorHiprint.DesignPaper.Components
@using BlazorHiprint.DesignPaper.Data
@inherits MElementBase<MBarCodeTmplt>

<div class="form-group">
    <label>Text</label>
    <input type="text" class="form-control" @bind="Data.Text" />
</div>
<div class="form-group">
    <label>Width</label>
    <input type="number" class="form-control" @bind="Data.Width" />
</div>
<div class="form-group">
    <label>Height</label>
    <input type="number" class="form-control" @bind="Data.Height" />
</div>
@* <div class="form-group">
    <label>Barcode Type</label>
    <select class="form-control" @bind="Data.BarcodeType">
        <option value="CODE128">CODE128</option>
        <option value="QRCODE">QR Code</option>
        <option value="EAN13">EAN-13</option>
    </select>
</div> *@
<div class="form-group">
    <label>Top Position</label>
    <input type="number" class="form-control" @bind="Data.Top" />
</div>
<div class="form-group">
    <label>Left Position</label>
    <input type="number" class="form-control" @bind="Data.Left" />
</div>

