<div>
    <svg>
        <rect class="d-flex align-center justify-center" width="100px" 
      height="120px" 
        style="fill:none;stroke:black;stroke-width:1;opacity:1"
      x="50"
      y="0" />
    </svg>
</div>

@code {

}
