@using BlazorHiPrint.DesignPaper.Components.MEditorForm
@using BlazorHiprint.DesignPaper.Components
@using BlazorHiprint.DesignPaper.Data
@inherits MElementBase<MTextTmplt>
<div>
    <MEditorForm Model="Data"></MEditorForm>
</div>
