@using BlazorHiprint.DesignPaper.Components
@inherits MElementBase<MTextTmplt>


<div style="font-size:@(Data.FontSize)px; font-family:@Data.FontFamilyName; 
font-weight:@Data.FontWeight; color:@Data.TextColor; 
text-align:@Data.TextAlign; @(Data.IsItalic ? "font-style:italic;" : "") @(Data.IsUnderline ? "text-decoration:underline;" : "")">
    @Data?.Text
</div>
