@using BlazorHiPrint.DesignPaper.Components
@using BlazorHiprint.DesignPaper.Data
@namespace BlazorHiprint.DesignPaper.Components.Text
@inherits MElementBase<MTextTmplt>


<div style="font-size:@(Data.FontSize)px; font-family:@Data.FontFamily; 
font-weight:@Data.FontWeight; color:@Data.Color; 
text-align:@Data.TextAlign; @(Data.IsItalic ? "font-style:italic;" : "") @(Data.IsUnderline ? "text-decoration:underline;" : "")">
    @Data?.Text
</div>


