@using BootstrapBlazor.Components
@using PMSM.Client.WebApp.Client.Data
@using System.Diagnostics.CodeAnalysis
<div class="div-box">

    <EditorForm Model="Value"> </EditorForm>
    
</div>

@code {
    [NotNull]
    [Parameter]
    public MTemplateUnit? Value { get; set; }


}
