/* Fix height and enable scrolling */
.grid {
    --table-border: none;
}

.grid[style*="border: 1px solid black"] {
    --table-border: 1px solid black;
}

/* Table borders */
::deep table {
    border-collapse: collapse;
    width: 100%;
    border: var(--table-border);
}

::deep th, ::deep td {
    border: var(--table-border);
    padding: 8px;
    text-align: left;
}

/* Sticky header while scrolling */
::deep thead {
    position: sticky;
    top: 0;
    background-color: #eee;
}

/* Stripe effect */
::deep tbody tr {
    background-color: rgba(0,0,0,0.04);
}
::deep tbody tr:nth-child(even) {
    background: rgba(255,255,255,0.4);
 }
