@using BlazorHiprint.DesignPaper.Components
@using Microsoft.AspNetCore.Components.QuickGrid
@inherits MElementBase<MTableTmplt>

<div class="grid" style="@($"font-family: {Data.FontFamily}; {(Data.ShowBorder ? "border: 1px solid black" : "")}")">
    <QuickGrid Items="items" >
        @foreach (var cl in Data.Columns)
        {
            if (cl.Visible)
            {
                <PropertyColumn Property="@(p => GetValue(p,cl.PropertyName))" Title="@(cl.DisplayName)" Sortable="true" >
                    <HeaderTemplate>
                        <div @onclick="() => ColumnClick(cl.PropertyName)">@context.Title</div>
                    </HeaderTemplate>
                </PropertyColumn>
            }
        }

    </QuickGrid>
</div>
