@using BlazorHiprint.DesignPaper.Components
@inherits MElementBase<MTableTmplt>

<div class="grid @(Data.ShowBorder ? "table-border" : "table-no-border")" style="@($"font-family: {Data.FontFamily};")">
    <table style="width:100%; border-collapse: collapse;">
        <thead>
            <tr>
                @foreach (var cl in Data.Columns)
                {
                    if (cl.Visible)
                    {
                        <th>@cl.DisplayName</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    @foreach (var cl in Data.Columns)
                    {
                        if (cl.Visible)
                        {
                            <td>@GetValue(item, cl.PropertyName)</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
