@using BlazorHiprint.DesignPaper.Components
@using BlazorHiprint.DesignPaper.Data
@inherits MElementBase<MTableTmplt>


<div class="form-group">
    <label>Column Width</label>
    <input type="number" class="form-control" @bind="Data.ColumnWidth" />
</div>
<div class="form-group">
    <label>Top Position</label>
    <input type="number" class="form-control" @bind="Data.Top" />
</div>
<div class="form-group">
    <label>Left Position</label>
    <input type="number" class="form-control" @bind="Data.Left" />
</div>

@code {

}
